@font-face {
  font-weight: bold;
  font-family: "Bebas Neue bold";
  font-style: normal;
  src: url("../fonts/bebas_neue_bold.woff2") format("woff2"), url("../fonts/bebas_neue_bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Bebas Neue";
  font-style: normal;
  src: url("../fonts/bebas_neue.woff2") format("woff2"), url("../fonts/bebas_neue.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Roboto-Condensed-normal";
  font-style: normal;
  src: url("../fonts/roboto_condensed.woff2") format("woff2"), url("../fonts/roboto_condensed.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Roboto-Condensed-bold";
  font-style: normal;
  src: url("../fonts/roboto_condensed_bold.woff2") format("woff2"), url("../fonts/roboto_condensed_bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: lighter;
  font-family: "Roboto-Condensed";
  font-style: normal;
  src: url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedlight.woff") format("woff");
  font-display: swap;
}

body {
  min-width: $mobile-width;
  max-width: $desktop-max-width;

  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin bold-bebas {
  font-family: "Bebas Neue bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin normal-bebas {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin bold-roboto {
  font-family: "Roboto-Condensed-bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin normal-roboto {
  font-family: "Roboto-Condensed-normal", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin light-roboto {
  font-family: "Roboto-Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
