/*размеры*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-max-width: 1366px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/*цвета фонов*/
$bg-color-blue: #1c3374;
$bg-color-red: #ed0233;
$bg-footer: #030a1a;
$bg-gradient-blue-red: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$bg-gradient-red-blue: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
$bg-video: rgba(20, 54, 122, 0.5);
$bg-hover-coach: rgba(16, 38, 84, 0.89);

/*цвета текста*/
$white-text: #ffffff;
$cyan-text: #103aae;
$blue-text: #102654;
